<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.45" />

  <title>{{title}}</title>

  <link rel="alternate" type="application/rss+xml" title="{{title}}" href="{{{blogURL}}}{{{feedURL}}}" />
  

  {{#avatar}}
  <link rel="icon" href="header_img.png" type="image/x-icon" />
  {{/avatar}}

  <link rel="stylesheet" href="{{{cssURL}}}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;1,200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,1&display=swap" rel="stylesheet">
  

  <meta name="description" content=":3" />

  <!-- Meta tags for sharing on social media platforms -->
  <meta property="og:title" content="Toast" />
  <meta property="og:description" content=":3" />
  <meta property="og:type" content="website" />
  {{#entry}}
  {{#thumbnail.large}}
  <meta property="og:image" content="{{{url}}}" />
  <meta name="twitter:card" content="summary_large_image" />
  {{/thumbnail.large}}
  <meta property="og:url" content="{{{absoluteURL}}}" />
  {{/entry}}
</head>